.card {
    font-family: 'Trebuchet MS';
    max-width: 320px;
    width: 100%;
    margin-top: 23px;
    position: relative;
    
}
.wrapper {
    height: 480px;
    background: url('../../images/border.svg');
    transition: all .3s ease;
}
.wrapper:hover {
    background: url('../../images/borderhover.svg');
}
.wrapper:hover .content__circle {
    background: #2ea8e6;
}
.content {
    max-width: 312px;
    height: 476px;
    width: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 12px;
}
.content__text {
    margin-top: 20px;
    margin-left: 44px;
    font-size: 14px;
    color: #666666;

}
.signature {
    font-size: 16px;
    margin-bottom: 6px;
}
.title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}
.name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.portion {
    margin-top: 7px;
}
.content__logo {
    position: absolute;
    top: 214px;
    left: -36px;
    width: 400px;
}
.content__circle {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #1698d9;
    transition: all .3s ease;
}
.kilo {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    color: #fff;
    line-height: 0.6em;
    margin-top: 13px;
}
.kilo > span {
    font-size: 21px;
}
.descr__text {
    font-size: 13px;
    color: #fff;
    margin-top: 11px;
    text-align: center;
}
.descr__text_btn {
    color: #1698d9;
    border-bottom: 1px #1698d9 dashed;
    cursor: pointer;
    transition: all .2s ease;
}
.descr__text_btn:hover {
    color: bisque;
    border-bottom-color: bisque;
}

