.card {
    font-family: 'Trebuchet MS';
    max-width: 320px;
    width: 100%;
    margin-top: 23px;
    position: relative;
}
.wrapper {
    height: 480px;
    transition: all .3s ease;
}
.wrapper_hov {
    background: url('../../images/border.svg');
}
.wrapper_hov:hover {
    background: url('../../images/borderhover.svg');
}
.wrapper_sel {
    background: url('../../images/border-sel.svg');
}
.wrapper_sel:hover {
    background: url('../../images/border-sel-hov.svg');
}
.wrapper_sel_avl {
    background: url('../../images/border-dis.svg');
}
.content {
    max-width: 312px;
    height: 476px;
    width: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 12px;
}
.content__text {
    margin-top: 20px;
    margin-left: 44px;
    font-size: 14px;
    color: #666666;
}
.signature {
    font-size: 16px;
    margin-bottom: 6px;
    
}
.signature_sel_hov {
    color: #e62e7a;
    transition: all .3s ease;
}
.title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}
.name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.content_text_dis {
    color: #d4d4d4;
}
.portion {
    margin-top: 7px;
}
.content__logo {
    position: absolute;
    top: 214px;
    left: -36px;
    width: 400px;
}
.logo_opacity {
    opacity: 0.5;
}
.content__circle {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: all .3s ease;
}
.content__circle_hov {
    background: #1698d9;
}
.content:hover .content__circle_hov {
    background: #2ea8e6;
}
.content__circle_sel {
    background: #d91667;
}
.content:hover .content__circle_sel {
    background: #e62e7a;
}
.content__circle_sel_avl {
    background: #b3b3b3;
}
.kilo {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    color: #fff;
    line-height: 0.6em;
    margin-top: 13px;
}
.kilo > span {
    font-size: 21px;
}
.descr__text {
    font-size: 13px;
    color: #fff;
    margin-top: 11px;
    text-align: center;
}
.descr__text_btn {
    color: #107cb2;
    border-bottom: 1px #107cb2 dashed;
    cursor: pointer;
    transition: all .2s ease;
}
.card:hover .descr__text_btn {
    color: #2489bc;
    border-bottom: 1px #2489bc dashed;
}
.descr__text_avl {
    color: #ffff66;
}

