.card {
    font-family: 'Trebuchet MS';
    max-width: 320px;
    width: 100%;
    margin-top: 23px;
    position: relative;
    border: 4px solid #1698d9;
    border-radius: 12px;
    border-top-left-radius: 80px;
    background: #f2f2f2;
    z-index: -1;
}
.card__cut-corner {
    position: absolute;
    left: 9.1px;
    top: 9.1px;
    background: #f2f2f2;
    width: 64px;
    height: 64px;
    border-left: 4px solid #1698d9;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.card__cut-corner:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 4px solid #1698d9;
    -webkit-transform: rotate(-45deg)translate(50.6%,-20%);
    -ms-transform: rotate(-45deg)translate(50.6%,-20%);
    -o-transform: rotate(-45deg)translate(50.6%,-20%);
    transform: rotate(-45deg)translate(50.6%,-20%);
}
.card__cut-corner:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid #1698d9;
    -webkit-transform: rotate(45deg)translate(50.6%,20%);
    -ms-transform: rotate(45deg)translate(50.6%,20%);
    -o-transform: rotate(45deg)translate(50.6%,20%);
    transform: rotate(45deg)translate(50.6%,20%);
}
.content {
    height: 480px;
    /* border: 4px solid #1698d9;
    border-radius: 12px;
    border-top-left-radius: 62px; */
    /* background: #f2f2f2; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.content__text {
    margin-top: 20px;
    margin-left: 49px;
    font-size: 14px;
    color: #666666;
}
.signature {
    font-size: 16px;
    margin-bottom: 6px;
}
.title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}
.name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.portion {
    margin-top: 7px;
}
.content__logo {
    position: absolute;
    top: 214px;
    left: -36px;
    width: 400px;
}
.content__circle {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    background: #1698d9;
}
.kilo {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    color: #fff;
    line-height: 0.6em;
    margin-top: 13px;
}
.kilo > span {
    font-size: 21px;
}
.descr__text {
    font-size: 13px;
    color: #fff;
    margin-top: 11px;
    text-align: center;
}
.descr__text_btn {
    color: #1698d9;
    text-decoration: dashed;
    text-decoration-color: #1698d9;
}

